# URL de Conexão com o Supabase (PostgreSQL)
# Substitua com os dados do seu projeto Supabase. 
# Recomenda-se usar a conexão direta (porta 5432) ou a de Pooler de Transações (porta 6543 com ?pgbouncer=true&connection_limit=1)
DATABASE_URL="postgresql://postgres.[SEU_PROJETO]:[SUA_SENHA]@aws-0-[REGIAO].pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# Porta do Servidor Web Express
PORT=3000
